services:
  - type: web
    name: fahimo-api
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npm run prisma:generate
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGINS
        sync: false
      - key: SENTRY_DSN
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: DEEPSEEK_API_KEY
        sync: false
      - key: CEREBRAS_API_KEY
        sync: false
      - key: GEMINI_API_KEY
        sync: false
